{{ template "layout/admin_header" }}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/admin/backend_index.html">首页</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="/admin/role/role_index.html">角色列表</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>{{.title}}角色</span>
                    <i class="fa fa-circle"></i>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bubble font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp sbold">{{.title}}角色</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form class="form-horizontal" id="form" action="/admin/role/save" method="post">
                            <input type="hidden" name="id" value="{{.info.ID}}">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="title">
                                    角色名称
                                    <span class="required" aria-required="true">*</span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="name" value="{{.info.Name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="form_control_1">角色</label>
                                <div class="col-md-9">
                                    <div class="md-checkbox-inline">
                                        {{$myResources := .myResources }}
                                        {{range $i, $v := .resources}}
                                            {{$id := $v.ID}}
                                            <div class="md-checkbox">
                                                <input type="checkbox" name="resource_ids" value="{{$v.ID}}"
                                                       id="checkbox1_{{$i}}"
                                                       class="md-check" {{range $myResources}} {{if eq .ResourceID $id}}checked{{end}}{{end}}>
                                                <label for="checkbox1_{{$i}}">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> {{$v.Name}} </label>
                                            </div>
                                        {{end}}
                                    </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="title"></label>
                                <div class="col-md-5">
                                    <button type="button" id="submit" class="btn green btn-circle"
                                            data-loading-text="正在提交...">
                                        保存
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>

{{ template "layout/admin_footer" }}