{{ define "layout/admin_footer" }}
    </div>
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/app.min.js" type="text/javascript"></script>

    <script src="/static/js/respond.min.js"></script>
    <script src="/static/js/excanvas.min.js"></script>

    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.blockui.min.js" type="text/javascript"></script>
    <!--  表单美化插件 -->
    <script src="/static/js/bootstrap-switch.min.js" type="text/javascript"></script>

    <!--  日期处理插件 -->
    <script src="/static/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/static/js/moment.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/static/js/components-bootstrap-select.js" type="text/javascript"></script>
    <script src="/static/js/layout.min.js" type="text/javascript"></script>
    <script src="/static/js/demo.min.js" type="text/javascript"></script>
    <script src="/static/js/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="/static/js/layer/layer.js" type="text/javascript"></script>
    <script src="/static/js/submit.js" type="text/javascript"></script>
    <script src="/static/js/dateFilter.js" type="text/javascript"></script>
    <script src="/static/js/curl.js" type="text/javascript"></script>
    <script src="/static/js/jstree.js" type="text/javascript"></script>
    <script src="/static/js/menu.js" type="text/javascript"></script>
    </body>
    </html>
{{end}}