{{ define "layout/left_sidebar" }}
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"
                data-slide-speed="200" style="padding-top: 20px">
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler"></div>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-settings"></i>
                        <span class="title">系统管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="/admin/role/role_index.html" class="nav-link ">
                                <i class="icon-list"></i>
                                <span class="title">角色列表</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/router/router_index.html" class="nav-link ">
                                <i class="icon-list"></i>
                                <span class="title">菜单列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-user"></i>
                        <span class="title">管理员管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="/admin/admin/admin_index.html" class="nav-link ">
                                <i class="icon-list"></i>
                                <span class="title">管理员列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{{end}}