{{ template "layout/admin_header" }}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/admin/resource/resource_index.html">首页</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="/admin/resource/resource_index.html">资源列表</a>
                    <i class="fa fa-circle"></i>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            资源列表
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/admin/resource/resource_create.html" class="btn btn-circle green"> 添加资源
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="dataTables_wrapper no-footer">
                            <form action="/admin/resource/resource_index.html" method="get" id="search">
                                <div class="row">
                                    <div class="col-md-3 col-sm-1">
                                        <div id="sample_1_filter" class="dataTables_filter">
                                            <input name="keyword" value="{{.name}}" placeholder="请输入名称"
                                                   class="form-control input-sm">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-0">
                                        <div class="margin-bottom-5">
                                            <button type="button" id="search-button"
                                                    class="btn btn-sm btn blue filter-submit margin-bottom">
                                                <i class="fa fa-search"></i> 搜索
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-container">
                                    <table class="table table-striped table-bordered table-hover table-checkable"
                                           id="table">
                                        <thead>
                                        <tr role="row" class="heading">
                                            <th width="5%"> ID</th>
                                            <th width="5%"> 上级菜单</th>
                                            <th width="5%"> 名称</th>
                                            <th width="15%"> 路由</th>
                                            <th width="10%"> 操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {{range .resources}}
                                            <tr role="row" class="{{if eq .PID 0 }} success {{else}} odd {{end}}">
                                                <td class="sorting_1">{{.ID}}</td>
                                                <td>
                                                    {{if gt .PID 0}}
                                                        {{.PID}}
                                                    {{end}}
                                                </td>
                                                <td>{{.Name}}</td>
                                                <td>{{.ResourceRouter}}</td>
                                                <td>
                                                    <a href="/admin/resource/resource_edit.html?id={{.ID}}"
                                                       class="btn btn-circle btn-icon-only red" title="编辑">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a url="/admin/resource/del" data-id="{{.ID}}"
                                                       class="btn btn-circle btn-icon-only purple del" title="删除">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {{end}}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="dataTables_info" id="sample_1_info" role="status"
                                             aria-live="polite">
                                            总条数：{{.count}}
                                        </div>
                                    </div>
                                    {{if gt .totalPage 1}}
                                        <div class="col-md-7 col-sm-7">
                                            <div class="dataTables_paginate paging_bootstrap_full_number"
                                                 id="sample_1_paginate">
                                                {{.pages}}
                                            </div>
                                        </div>
                                    {{end}}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
{{ template "layout/admin_footer" }}