{{ template "layout/admin_header" }}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/admin/admin/backend_index.html">首页</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="/admin/resource/resource_index.html">资源列表</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>添加资源</span>
                    <i class="fa fa-circle"></i>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bubble font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp sbold">管理员</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form class="form-horizontal" id="form" action="/admin/resource/save" method="post">
                            <input type="hidden" name="id" value="{{.info.ID}}">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    父级菜单
                                    <span class="required" aria-required="true">*</span>
                                </label>
                                <div class="col-md-4">
                                    <select class="bs-select form-control" name="p_id">
                                        <option value="0">顶级菜单</option>
                                        {{$pid := .info.PID}}
                                        {{range .resources}}
                                            <option value="{{.ID}}" {{if eq .ID $pid}} selected {{end}}>{{.Name}}</option>
                                        {{end}}
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="title">
                                    资源名称
                                    <span class="required" aria-required="true">*</span>
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="name" value="{{.info.Name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="title">
                                    路由名称
                                </label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="resource_router"
                                           value="{{.info.ResourceRouter}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="title"></label>
                                <div class="col-md-5">
                                    <button type="button" id="submit" class="btn green btn-circle"
                                            data-loading-text="正在提交...">
                                        保存
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>

{{ template "layout/admin_footer" }}